# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [40]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
from pprint import pprint

# Import API key
from api_keys import g_key

#Configure gmaps
gmaps.configure(api_key=g_key)

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [41]:
# Output File (CSV)
input_data_file = "../output_data/cities.csv"

#Read WeatherPy CSV file
Final_city_data= pd.read_csv(input_data_file)

Final_city_data.head()

,City Name,Latitude,Longitude,Max Temperature,Humidity,Cloudiness,Wind Speed,Country,Date
0,Poya,-21.35,165.15,84.61,72,100,2.75,NC,1609728176
1,Pevek,69.70,170.31,-18.15,89,72,6.80,RU,1609728178
2,New Norfolk,-42.78,147.06,69.01,52,93,3.00,AU,1609728179
3,Kapaa,22.08,-159.32,78.80,65,90,13.87,US,1609728180
4,Mount Isa,-20.73,139.50,91.40,41,75,6.93,AU,1609728181

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [42]:
#Use the Lat and Lng as locations and Humidity as the weight.
locations = Final_city_data[["Latitude", "Longitude"]].astype(float)

humidity= Final_city_data["Humidity"].astype(float)

In [43]:
fig= gmaps.figure()

heat_layer = gmaps.heatmap_layer(locations, weights=humidity, 
                                 dissipating=False, max_intensity=100,
                                 point_radius = 1)
fig = gmaps.figure(center=(0, 0), zoom_level=2)
fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [44]:
#Narrow down the cities to fit weather conditions.
Perfect_humidity= Final_city_data.loc[Final_city_data["Humidity"] <= 68]

Perfect_temp= Perfect_humidity.loc[Perfect_humidity["Max Temperature"] > 75 ]

#Store into variable named hotel_df.
hotel_df= Perfect_temp.loc[Perfect_temp["Cloudiness"] <= 30 ]

hotel_df.head()

,City Name,Latitude,Longitude,Max Temperature,Humidity,Cloudiness,Wind Speed,Country,Date
9,Kahului,20.89,-156.47,80.60,54,1,24.16,US,1609728186
42,San Lorenzo,-25.33,-57.53,82.40,58,0,5.82,PY,1609728165
89,Hilo,19.73,-155.09,80.60,61,1,9.17,US,1609728209
230,Broken Hill,-31.95,141.43,78.80,39,29,10.29,AU,1609728445
356,Trat,12.50,102.50,84.99,65,0,11.41,TH,1609728593

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [45]:
#Add a "Hotel Name" column to the DataFrame.
hotel_df["Hotel Name"] = ""

hotel_df.head()

,City Name,Latitude,Longitude,Max Temperature,Humidity,Cloudiness,Wind Speed,Country,Date,Hotel Name
9,Kahului,20.89,-156.47,80.60,54,1,24.16,US,1609728186,
42,San Lorenzo,-25.33,-57.53,82.40,58,0,5.82,PY,1609728165,
89,Hilo,19.73,-155.09,80.60,61,1,9.17,US,1609728209,
230,Broken Hill,-31.95,141.43,78.80,39,29,10.29,AU,1609728445,
356,Trat,12.50,102.50,84.99,65,0,11.41,TH,1609728593,

In [46]:
# Hit the Google Places API for each city's coordinates.
target_search = "Hotel"
target_radius = 5000


#Set parameters to search for specifics
params = { 
    "keyword": target_search,
    "radius": target_radius, 
    "key":g_key, 
}

In [47]:
print("Beginning Data Retrieval")
print("-------------------------")

# Use iterrows to iterate through dataframe
for index, row in hotel_df.iterrows():

    #Store latitude and longitude from hotel_df
    lat = row['Latitude']
    lng = row['Longitude']


    #Update location each iteration while leaving original params in place
    params["location"] = f"{lat},{lng}"


    #Set the base_url
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # make request and print url
    hotel_names = requests.get(base_url, params=params)
    hotel_names = hotel_names.json()

    # Since some data may be missing we incorporate a try-except to skip any that are missing a data point.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotel_names["results"][0]["name"]

    except (KeyError, IndexError, TypeError):
        print("Missing result. Skipping... .")

Beginning Data Retrieval
-------------------------
Missing result. Skipping... .
Missing result. Skipping... .
Missing result. Skipping... .

In [48]:
pprint(hotel_names)

a'},
             {'business_status': 'OPERATIONAL',
              'geometry': {'location': {'lat': 4.864049, 'lng': 31.60039},
                           'viewport': {'northeast': {'lat': 4.865518079892722,
                                                      'lng': 31.60174142989272},
                                        'southwest': {'lat': 4.862818420107279,
                                                      'lng': 31.59904177010727}}},
              'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/v1/png_71/lodging-71.png',
              'name': 'Airport Plaza Hotel',
              'opening_hours': {'open_now': True},
              'photos': [{'height': 2448,
                          'html_attributions': ['<a '
                                                'href="https://maps.google.com/maps/contrib/115545295131029702001">Airport '
                                                'Plaza Hotel</a>'],
                          'photo_reference': 'ATtYBwIgFzhCV5WbUg5kN_dSaxg_eAI-jPRTzUfDa8LEbfI1g6WOKjUv_KY92ut3WCSM7e-Jwqa1hgfLGnM5Yh7Lm0jz90daoIvFwGXsiCW63DslBbIpbp3fTZBrnQLy46QMhe7w8Ie6uAL4BqNdcEdvKHE_KDEsbws8QGCGQLVkJbegZPVi',
                          'width': 3264}],
              'place_id': 'ChIJq1gxZUGAEhcRwGOGqUznAnQ',
              'plus_code': {'compound_code': 'VJ72+J5 Juba, South Sudan',
                            'global_code': '6GPHVJ72+J5'},
              'rating': 3.6,
              'reference': 'ChIJq1gxZUGAEhcRwGOGqUznAnQ',
              'scope': 'GOOGLE',
              'types': ['lodging', 'point_of_interest', 'establishment'],
              'user_ratings_total': 28,
              'vicinity': 'Yellow School Bus Rd, Juba'},
             {'business_status': 'OPERATIONAL',
              'geometry': {'location': {'lat': 4.8557736, 'lng': 31.583199},
                           'viewport': {'northeast': {'lat': 4.857248179892721,
                                                      'lng': 31.58454892989272},
                                        'southwest': {'lat': 4.854548520107278,
                                                      'lng': 31.58184927010727}}},
              'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/v1/png_71/lodging-71.png',
              'name': 'Regency Hotel',
              'photos': [{'height': 2620,
                          'html_attributions': ['<a '
                                                'href="https://maps.google.com/maps/contrib/104506871651727879867">Rajish '
                                                'Raja</a>'],
                          'photo_reference': 'ATtYBwKodYcsTBKylQGIfy8yrrwfmvver9EyDydib3lkPgoIxcpPQ9H-D9sQChQbqvaGGJNxwQF2mDazvJPNvQ9A-fIqOk27vcC4GMavrZITyaRiYKTXZoM6xup1AoQ7Fih5BhWUXfA32VUVrsnyvxfPjSzUbhvyvD8sN5Id9XRq-TS25FNx',
                          'width': 4656}],
              'place_id': 'ChIJZYhLIlaAEhcRa6lVZzdn8ks',
              'plus_code': {'compound_code': 'VH4M+87 Juba, South Sudan',
                            'global_code': '6GPHVH4M+87'},
              'rating': 3.9,
              'reference': 'ChIJZYhLIlaAEhcRa6lVZzdn8ks',
              'scope': 'GOOGLE',
              'types': ['lodging', 'point_of_interest', 'establishment'],
              'user_ratings_total': 113,
              'vicinity': 'Doctor John Garang International School, Kololo '
                          'Area, Off Airport Road, Close to, Juba'},
             {'business_status': 'OPERATIONAL',
              'geometry': {'location': {'lat': 4.8599225, 'lng': 31.6008244},
                           'viewport': {'northeast': {'lat': 4.861275579892721,
                                                      'lng': 31.60209262989272},
                                        'southwest': {'lat': 4.858575920107278,
                                                      'lng': 31.59939297010728}}},
              'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/v1/png_71/lodging-71.png',
              'name': 'Tulip Inn Juba',
              'photos': [{'height': 3024,
                          'html_attributions': ['<a '
                                                'href="https://maps.google.com/maps/contrib/108304825594990948924">KingAugust '
                                                'MainBlock</a>'],
                          'photo_reference': 'ATtYBwI9jJCQahbPIrZZ3n2PGGAakT8yxvRGLuQWdk-eYucJVWuzEbF0lBf26b7hFED3LGBms1DzUiZInNGtyYdzh8vyM-DCV_u5E80cxgDWeIHBk4TyfYtn8AJtHypon43VgArW6Jd-P0odzb3uuOZbxEIoh4ZK6jz-lsGWynDdiR5uuIqR',
                          'width': 4032}],
              'place_id': 'ChIJFcFIlUaAEhcRl-Z1Pux9PKA',
              'plus_code': {'compound_code': 'VJ52+X8 Juba, South Sudan',
                            'global_code': '6GPHVJ52+X8'},
              'rating': 4,
              'reference': 'ChIJFcFIlUaAEhcRl-Z1Pux9PKA',
              'scope': 'GOOGLE',
              'types': ['lodging', 'point_of_interest', 'establishment'],
              'user_ratings_total': 67,
              'vicinity': 'Hay Matar, Block xvi, plot 29, Juba'},
             {'business_status': 'OPERATIONAL',
              'geometry': {'location': {'lat': 4.845485399999999,
                                        'lng': 31.6151024},
                           'viewport': {'northeast': {'lat': 4.846801429892722,
                                                      'lng': 31.61666202989272},
                                        'southwest': {'lat': 4.844101770107279,
                                                      'lng': 31.61396237010728}}},
              'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/v1/png_71/lodging-71.png',
              'name': 'Juba Landmark Hotel',
              'photos': [{'height': 1152,
                          'html_attributions': ['<a '
                                                'href="https://maps.google.com/maps/contrib/101619174761684496756">businessthisday '
                                                'com</a>'],
                          'photo_reference': 'ATtYBwJw4hkl2ocb-NpE0M2y5UGnWVIzBIoI81n9BcVaWjVhCusRM-xKHql5rFGXn-vlwoq9pq9stqLL_foy0mK2laiHsTp68yeLoFNggVHeKFSUeCCEkL2p05oiqQnPhXzmyMfQKQJqjU23KlNwIFflEZorVoaaIDL6Nam8zIODnx8mIcGf',
                          'width': 2048}],
              'place_id': 'ChIJZeU1la6BEhcRqxbzI4lrYco',
              'plus_code': {'compound_code': 'RJW8+52 Juba, South Sudan',
                            'global_code': '6GPHRJW8+52'},
              'rating': 3.9,
              'reference': 'ChIJZeU1la6BEhcRqxbzI4lrYco',
              'scope': 'GOOGLE',
              'types': ['lodging', 'point_of_interest', 'establishment'],
              'user_ratings_total': 18,
              'vicinity': 'Off Mboro St Juba'},
             {'business_status': 'OPERATIONAL',
              'geometry': {'location': {'lat': 4.8440471, 'lng': 31.6149807},
                           'viewport': {'northeast': {'lat': 4.845374229892721,
                                                      'lng': 31.61649717989272},
                                        'southwest': {'lat': 4.842674570107278,
                                                      'lng': 31.61379752010728}}},
              'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/v1/png_71/lodging-71.png',
              'name': 'Dembesh Hotel',
              'photos': [{'height': 2592,
                          'html_attributions': ['<a '
                                                'href="https://maps.google.com/maps/contrib/113901510689482708868">Waithaka '
                                                'Mbogo</a>'],
                          'photo_reference': 'ATtYBwKehQ0nKaK4dCLmwY1HzcnmWeHBlCyH-CfyNiyN3uaThwXJGwFDy9a9MMvxn4wntAVQ-MRVGamf8HoKRYUVtzKSezci8eeStjk5_nE7KiDLzJ8qbK3eh8roE-Dcs2l9dnWM4aEVlK-L8m2OCFsAi6Gr-_F7XFDYPKaiZ2vkffPEeaoy',
                          'width': 4608}],
              'place_id': 'ChIJh-lbws2BEhcRvSFaEOyKvV8',
              'plus_code': {'compound_code': 'RJV7+JX Juba, South Sudan',
                            'global_code': '6GPHRJV7+JX'},
              'rating': 4.1,
              'reference': 'ChIJh-lbws2BEhcRvSFaEOyKvV8',
              'scope': 'GOOGLE',
              'types': ['lodging', 'point_of_interest', 'establishment'],
              'user_ratings_total': 15,
              'vicinity': 'Hai Mission, Juba'},
             {'business_status': 'OPERATIONAL',
              'geometry': {'location': {'lat': 4.8355888, 'lng': 31.6132709},
                           'viewport': {'northeast': {'lat': 4.836914179892722,
                                                      'lng': 31.61488752989272},
                                        'southwest': {'lat': 4.834214520107278,
                                                      'lng': 31.61218787010728}}},
              'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/v1/png_71/lodging-71.png',
              'name': 'Royal Palace Hotel',
              'opening_hours': {'open_now': True},
              'photos': [{'height': 3120,
                          'html_attributions': ['<a '
                                                'href="https://maps.google.com/maps/contrib/106321984817768218837">Taeyoung '
                                                'Kim</a>'],
                          'photo_reference': 'ATtYBwIfkmhi-aLKQKVgWwgUTWP7VXnteqFCTg7Z9IIxeB_OiPMzXxIm_CL-huJCjX0KjWPcf-ZA3eITxt7GdAFWUdOkr75SgHmbMx7EbzKXabFxHeyMASFJwTPQ50hynZ12MivodUytZMQ1Aubklz4B7dzKmQrhnVexrVSwTuytNZoLzcos',
                          'width': 4160}],
              'place_id': 'ChIJ09qwaMSBEhcRcSheRDlEqHA',
              'plus_code': {'compound_code': 'RJP7+68 Juba, South Sudan',
                            'global_code': '6GPHRJP7+68'},
              'rating': 4.1,
              'reference': 'ChIJ09qwaMSBEhcRcSheRDlEqHA',
              'scope': 'GOOGLE',
              'types': ['lodging', 'point_of_interest', 'establishment'],
              'user_ratings_total': 55,
              'vicinity': 'Juba'},
             {'business_status': 'OPERATIONAL',
              'geometry': {'location': {'lat': 4.858120899999999,
                                        'lng': 31.6077157},
                           'viewport': {'northeast': {'lat': 4.859515729892721,
                                                      'lng': 31.60906457989272},
                                        'southwest': {'lat': 4.856816070107278,
                                                      'lng': 31.60636492010728}}},
              'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/v1/png_71/lodging-71.png',
              'name': 'Juba Transit Hotel',
              'photos': [{'height': 1536,
                          'html_attributions': ['<a '
                                                'href="https://maps.google.com/maps/contrib/104921928335144622534">Teklish '
                                                'Fiseha</a>'],
                          'photo_reference': 'ATtYBwI-cxUFlu2u031Q5TSWVZL1uKT-fkkCrkbASb5xJprzxDw_S-mqJeE0VC1_2pDy1blzoqsMQMTJ_sQAiT3XOum9K2rFnVyAd9h1Owkuq8wJx2k8UcLoE6x8i6-sBE9szupff8_k3kmzy29ZHXjlkbvZMs5du2lXwAZFq0B64AWTpvk_',
                          'width': 2048}],
              'place_id': 'ChIJl-GYPjiAEhcR32qhZ54C5yw',
              'plus_code': {'compound_code': 'VJ55+63 Juba, South Sudan',
                            'global_code': '6GPHVJ55+63'},
              'rating': 3.7,
              'reference': 'ChIJl-GYPjiAEhcR32qhZ54C5yw',
              'scope': 'GOOGLE',
              'types': ['lodging', 'point_of_interest', 'establishment'],
              'user_ratings_total': 46,
              'vicinity': 'Darren Lockyer Road, Juba'},
             {'business_status': 'OPERATIONAL',
              'geometry': {'location': {'lat': 4.8657836, 'lng': 31.5979678},
                           'viewport': {'northeast': {'lat': 4.867134179892721,
                                                      'lng': 31.59935442989272},
                                        'southwest': {'lat': 4.864434520107277,
                                                      'lng': 31.59665477010727}}},
              'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/v1/png_71/lodging-71.png',
              'name': 'Riviera Hotel',
              'photos': [{'height': 3072,
                          'html_attributions': ['<a '
                                                'href="https://maps.google.com/maps/contrib/115584530486612955323">A '
                                                'Google User</a>'],
                          'photo_reference': 'ATtYBwKAZGXq9H8T3Fk-ZcF4ehCHAFP9atPKXWtRrf-HvtHmnPjn2MQzUZM6Ok2v3yyfvpGCdKeVbugLg6BHqOHt6JA70__WRq45AZT5u40kmtn_CGZFOWB6KNDckW1hVmvy_gjedhsXGSDZS6hai2FFZc2ReAHgpOiugZYR97NRnrUiJcvU',
                          'width': 4096}],
              'place_id': 'ChIJnQgZQkKAEhcRgCMZ1LxFQdE',
              'plus_code': {'compound_code': 'VH8X+85 Juba, South Sudan',
                            'global_code': '6GPHVH8X+85'},
              'rating': 3.8,
              'reference': 'ChIJnQgZQkKAEhcRgCMZ1LxFQdE',
              'scope': 'GOOGLE',
              'types': ['lodging', 'point_of_interest', 'establishment'],
              'user_ratings_total': 33,
              'vicinity': 'Juba'},
             {'business_status': 'OPERATIONAL',
              'geometry': {'location': {'lat': 4.8426524, 'lng': 31.6087587},
                           'viewport': {'northeast': {'lat': 4.844003129892723,
                                                      'lng': 31.61016127989273},
                                        'southwest': {'lat': 4.841303470107278,
                                                      'lng': 31.60746162010728}}},
              'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/v1/png_71/lodging-71.png',
              'name': 'Concord Hotel',
              'opening_hours': {'open_now': True},
              'photos': [{'height': 3024,
                          'html_attributions': ['<a '
                                                'href="https://maps.google.com/maps/contrib/111997452960843825943">A '
                                                'Google User</a>'],
                          'photo_reference': 'ATtYBwKKGnXJ2o69AkwbR-eU9hRduXNokSYJK52yiM9OExu7g67hbk8gQX9PVtEARPrqmmLqpxVUCg1EAT0nPPJD28S1OWO0RAELedF8F4cd_8R2vNUoWU23gsAeWmm_VWhJC5kbrGZtTH0m9uS6fLJR91E2km7jiQOaRuWEQtoc1Av41qsQ',
                          'width': 4032}],
              'place_id': 'ChIJPVbPtMmBEhcR2MpWR0nCqSg',
              'plus_code': {'compound_code': 'RJV5+3G Juba, South Sudan',
                            'global_code': '6GPHRJV5+3G'},
              'rating': 4.1,
              'reference': 'ChIJPVbPtMmBEhcR2MpWR0nCqSg',
              'scope': 'GOOGLE',
              'types': ['lodging', 'point_of_interest', 'establishment'],
              'user_ratings_total': 37,
              'vicinity': 'Juba'},
             {'business_status': 'OPERATIONAL',
              'geometry': {'location': {'lat': 4.8558568, 'lng': 31.5948352},
                           'viewport': {'northeast': {'lat': 4.857144329892722,
                                                      'lng': 31.59624742989272},
                                        'southwest': {'lat': 4.854444670107278,
                                                      'lng': 31.59354777010728}}},
              'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/v1/png_71/restaurant-71.png',
              'name': 'Paradiso Hotel',
              'photos': [{'height': 1228,
                          'html_attributions': ['<a '
                                                'href="https://maps.google.com/maps/contrib/117014764369598388488">H '
                                                'P Muditha Sampath '
                                                'Weerasinghe</a>'],
                          'photo_reference': 'ATtYBwJKtbrtroiHJ7h1cWmtUaa3W41BgQ3DD8k27bb3vso7VGgjm7XFSXpJ0KJfPVBb-LsbuxcWUQ1tkygvZyu7nKZkqc3BR6WtPTWjrGgCPa_VVV-bpQC_FKCX2YUhLHgP0v7Wjf1gzf8-tkqHJch46Ca0Pk_WCmQX_CYYUGs2BXxxm6VN',
                          'width': 2048}],
              'place_id': 'ChIJxUWwMk6AEhcR5c7ufEL2V1g',
              'plus_code': {'compound_code': 'VH4V+8W Juba, South Sudan',
                            'global_code': '6GPHVH4V+8W'},
              'rating': 4.3,
              'reference': 'ChIJxUWwMk6AEhcR5c7ufEL2V1g',
              'scope': 'GOOGLE',
              'types': ['restaurant',
                        'food',
                        'point_of_interest',
                        'establishment'],
              'user_ratings_total': 6,
              'vicinity': 'Juba'},
             {'business_status': 'OPERATIONAL',
              'geometry': {'location': {'lat': 4.8569612, 'lng': 31.5868467},
                           'viewport': {'northeast': {'lat': 4.858311129892722,
                                                      'lng': 31.58813762989272},
                                        'southwest': {'lat': 4.855611470107278,
                                                      'lng': 31.58543797010728}}},
              'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/v1/png_71/lodging-71.png',
              'name': 'Rainbow hotel',
              'opening_hours': {'open_now': True},
              'photos': [{'height': 2160,
                          'html_attributions': ['<a '
                                                'href="https://maps.google.com/maps/contrib/101957865415968863829">Thomas '
                                                'Link</a>'],
                          'photo_reference': 'ATtYBwIC6U3JGQyL0g45D_PQ5GihO_t9xP1A7XRxhIITN-AtHj0vzq8zO1y8SqfQfxIHMxq0dSbPF3KDdsPwoCreGgP7FPIwaiytaH2MeCuyzp9uznYOT4CEhbUTSCrrgKVBlahjPCBVxTm6MtBN4ZtlDXcT0iqwsB-SfljG9UMb7O7gwXnf',
                          'width': 3840}],
              'place_id': 'ChIJIea4F1eAEhcR2MoxSA-1wEM',
              'plus_code': {'compound_code': 'VH4P+QP Juba, South Sudan',
                            'global_code': '6GPHVH4P+QP'},
              'rating': 3.6,
              'reference': 'ChIJIea4F1eAEhcR2MoxSA-1wEM',
              'scope': 'GOOGLE',
              'types': ['lodging', 'point_of_interest', 'establishment'],
              'user_ratings_total': 84,
              'vicinity': 'american embessy, Juba'},
             {'business_status': 'OPERATIONAL',
              'geometry': {'location': {'lat': 4.8553792, 'lng': 31.6036152},
                           'viewport': {'northeast': {'lat': 4.856657479892722,
                                                      'lng': 31.60495752989273},
                                        'southwest': {'lat': 4.853957820107278,
                                                      'lng': 31.60225787010729}}},
              'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/v1/png_71/lodging-71.png',
              'name': 'Amarat Classic Hotel( Comboni House)',
              'photos': [{'height': 3024,
                          'html_attributions': ['<a '
                                                'href="https://maps.google.com/maps/contrib/105411699869867957001">A '
                                                'Google User</a>'],
                          'photo_reference': 'ATtYBwJ3TYI2eEnCL3ImnudKYxmuiNfL06w035shL-4LulNt-vkFgmueUn5xQXXoknekZW5VAXvI58mvxmH3GjjZpb6VP5UQACtrabjnAUJrm_GWso4ieEH0FeuuK5W4i5l0ObTlIXjeTCCELsXJzmWslvEgsrW3VX8BGvKL4UViC2w9Qf2L',
                          'width': 4032}],
              'place_id': 'ChIJU6E4s0mAEhcRRsENT-F9kQ8',
              'plus_code': {'compound_code': 'VJ43+5C Juba, South Sudan',
                            'global_code': '6GPHVJ43+5C'},
              'rating': 3.9,
              'reference': 'ChIJU6E4s0mAEhcRRsENT-F9kQ8',
              'scope': 'GOOGLE',
              'types': ['lodging', 'point_of_interest', 'establishment'],
              'user_ratings_total': 28,
              'vicinity': 'Juba'}],
 'status': 'OK'}

In [49]:
# Save Data to csv file
hotel_df.to_csv("../output_data/Perfect_weather_hotels.csv", index= False, header= True)

# Read CSV 
Perfect_weather_hotels= pd.read_csv("../output_data/Perfect_weather_hotels.csv")

Perfect_weather_hotels.head()

,City Name,Latitude,Longitude,Max Temperature,Humidity,Cloudiness,Wind Speed,Country,Date,Hotel Name
0,Kahului,20.89,-156.47,80.60,54,1,24.16,US,1609728186,Maui Beach Hotel
1,San Lorenzo,-25.33,-57.53,82.40,58,0,5.82,PY,1609728165,Factoria Hotel
2,Hilo,19.73,-155.09,80.60,61,1,9.17,US,1609728209,Hilo Hawaiian Hotel
3,Broken Hill,-31.95,141.43,78.80,39,29,10.29,AU,1609728445,Royal Exchange Hotel
4,Trat,12.50,102.50,84.99,65,0,11.41,TH,1609728593,NaN

In [50]:
Renamed_df = Perfect_weather_hotels.rename(columns= {"City Name" : "City"})

Renamed_df

,City,Latitude,Longitude,Max Temperature,Humidity,Cloudiness,Wind Speed,Country,Date,Hotel Name
0,Kahului,20.89,-156.47,80.60,54,1,24.16,US,1609728186,Maui Beach Hotel
1,San Lorenzo,-25.33,-57.53,82.40,58,0,5.82,PY,1609728165,Factoria Hotel
2,Hilo,19.73,-155.09,80.60,61,1,9.17,US,1609728209,Hilo Hawaiian Hotel
3,Broken Hill,-31.95,141.43,78.80,39,29,10.29,AU,1609728445,Royal Exchange Hotel
4,Trat,12.50,102.50,84.99,65,0,11.41,TH,1609728593,NaN
5,Panlaitan,12.12,119.85,84.58,66,9,5.77,PH,1609728608,NaN
6,Papetoai,-17.50,-149.87,86.00,55,20,2.24,PF,1609728616,Hilton Moorea Lagoon Resort & Spa
7,‘Āhuimanu,21.44,-157.84,78.80,65,20,13.87,US,1609728645,NaN
8,Kampot,10.62,104.18,82.40,58,0,6.93,KH,1609728654,Hotel Five.S
9,Juba,4.85,31.58,76.24,49,19,2.46,SS,1609728687,Pyramid Continental Hotel

Plot markers on top of the heatmap.

In [58]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in Renamed_df.iterrows()]
locations = Renamed_df[["Latitude", "Longitude"]]

In [65]:
# Add marker layer 

marker_layer = gmaps.marker_layer(locations, info_box_content= hotel_info)
fig= gmaps.figure()

#Zoom in before adding layers
fig = gmaps.figure(center=(0, 0), zoom_level=2)

#Add marker layer
fig.add_layer(marker_layer)

#Add heat layer
fig.add_layer(heat_layer)

# fig = gmaps.figure(center=(0, 0), zoom_level=2)

# Display figure
fig

Figure(layout=FigureLayout(height='420px'))